
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li>
                <a class="nav-link" href="#">A propos</a>
            </li>
            <li class="nav-item mr-sm-2">
                <a class="nav-link btn btn-success text-white" type="button" href="{{ path('user_new') }}" data-toggle="modal" data-target="#myModal">S'enregistrer</a>
            </li>
            <li class="nav-item mr-sm-2 ">
                <a class="nav-link btn btn-primary text-white" type="button" href="/login" data-toggle="modal" data-target="#myModal">Se Connecter</a>
            </li>
        </ul>

    </div>
</nav>
<img src="{{ asset('images/bg.jpg')}}" class="img-fluid" alt="" />
