{% extends 'base.html.twig' %}


{% block body %}

    {{ include('home/_menu.html.twig') }}
    <div class="container">

        <h1 class="text-md-center mt-2 mb-4">Notre charte en bref</h1>

        <h3>A. Principes généraux</h3>

        <p>
            Val Llech est une association à but non lucratif qui cherche à promouvoir le bien-vivre ensemble
            au sein de la vallée du Llech dans le respect de l’environnement.
            Ce credo sert de socle à un effort collectif pour harmoniser à l’échelle de la vallée les trois piliers
            du développement durable : l’écologie (préservation, respect, amélioration, valorisation),
            le social (ouverture, convivialité, solidarité, générosité)
            et l’économie (complémentarité, mutualisation, innovation, accompagnement).
            Cette recherche de durabilité fait office de tronc commun à l’ensemble de nos actions,
            lesquelles sont organisées selon des commissions.
        </p>

        <p>
            On peut se représenter le fonctionnement de l’association à la manière d’un arbre dont
            les racines s’assimilent à la mission, le tronc au cadre de valeur de la durabilité,
            les branches aux commissions et les feuilles aux actions (voir figure 1).
        </p>

        <img style="margin-left: 30%" class="mt-2 mb-2"  src="https://1.bp.blogspot.com/-5exVC6ZWct0/XymDqM7uosI/AAAAAAAAAEc/NHz6NUpFQ9gX1CSeACsmWzQKqF1GaydfACLcBGAsYHQ/s0/arbre%2BVL.png" alt="représentation arbre">

        <p>
            Le flux de sève qui fait vivre cet arbre est la somme des énergies individuelles qui
            se mobilisent pour le collectif. Des allers-retours permanents doivent être faits entre les racines
            (mission) et les feuilles (activités) tel un flux de sève.
            Ca se traduit comme suit : une idée bourgeonne, devient une branche (commission)
            et donne des fruits (actions). A l’opposé, une branche qui cesse d’être irriguée par la sève (nous) meurt.
            Dans ce sens l’association est une plateforme qui peut permettre à tout un chacun de développer
            sa créativité à partir du moment où celle-ci est collectivement considérée comme durable.
            Le collectif se met alors au service de l’individu à condition que ce dernier soit au service du collectif.
        </p>
        <h3>B. Traduction concrète</h3>

        <p>
            Chacune des branches, et donc des feuilles est tributaire du tronc :
            pour chaque action nous devons pouvoir dire en quoi elle participe au bien-être social et/ou environnemental
            sans mettre en cause les activités économiques voire en les confortant (figure 2).
        </p>

        <img style="margin-left: 30%" class="mt-2 mb-2"  src="https://1.bp.blogspot.com/-SztOLHFjGME/XymEfwMn_vI/AAAAAAAAAEk/Yq0PpoJBHywWY2rvWooEvgtAZ86N3KJJACLcBGAsYHQ/s0/couronne%2Basso.png" alt="Couronne d'action de l'association">

        <p>
            Ainsi, les marchés construisent du lien entre les habitants en (i)
            offrant l’accès à des produits de proximité, (ii) en permettant l’écoulement de leur production
            aux agriculteurs et (iii) en créant des espaces de convivialité / festivités.
            La dimension environnementale est pour l’instant couverte par le raccourcissement
            des circuits de distribution et sera renforcée par la création du label qui invitera chacun à s’inscrire
            dans une démarche de progrès.
        </p>

        <p>
            Les événements organisés par l’association ont pour objet (i) la sensibilisation
            à différentes thématiques ayant trait au développement durable, (ii) la mise en réseau
            de l’association avec d’autres associations du Conflent qui poursuivent des objectifs proches,
            et/ou (iii) des propositions culturelles absentes jusqu’alors (projections / débats etc.).
        </p>

        <p>
            Enfin, la création d’un système participatif de garantie (SPG)
            ouvert à toutes celles et ceux qui souhaitent entrer dans une démarche collective d’amélioration
            de notre rapport à l’environnement et de solidarité.
            Il s’agira d’un socle commun qui pourrait dans un second temps être valorisé pour
            les différentes activités économiques présentes dans la vallée et éventuellement appuyer
            de nouvelles créations.
        </p>

        <h3>C- Le pilotage de l’association</h3>

        <p>
            La prise de décision au sein de l’association se construit à trois niveaux interdépendants.
            Tout d’abord les Assemblées Générales annuelles. Les AG rassemblent l’ensemble des adhérents de l’association.
            En plus des questions « normées » que toute association doit traiter dans cet espace
            (à savoir un compte rendu des comptes de l’association et des actions menées),
            c’est à ce moment que peuvent être discutées la mission et les valeurs portées par l’association.
            Il s’agit de la seule instance disposant du pouvoir de changement au niveau racinaire et du tronc.
        </p>

        <p>
            Ensuite viennent les Conseils d’Administration mensuels ou bimestriels.
            Ces CA ont pour objet le suivi du bon fonctionnement des commissions. Dans cet espace sont présents
            les membres du conseil d’administration mais peuvent également participer toutes celles et ceux qui
            participent au fonctionnement desdites commissions. Le CA est donc un organe de suivi et d’évaluation.
            Les commissions y présentent leurs avancées respectives et proposent des actions qui seront soumises
            au vote du conseil. C’est à ce moment que de nouvelles propositions peuvent émerger.
            Une proposition ne se traduit en commission qu’à partir du moment où elle est validée par le CA
            et que quelqu’un accepte d’en porter la responsabilité. Pour le moment le fonctionnement admis est le consensus.
            Un fonctionnement à majorité qualifiée pourra être mis en œuvre si nécessaire.
            Ses modalités feront alors l’objet d’une discussion indépendante.
        </p>

        <p>
            Enfin, les commissions qui, indépendantes dans leur fonctionnement, sont chargées de la mise en œuvre
            des actions. Les commissions sont indépendantes dans le sens où elles choisissent elles-mêmes de leur
            rythme de rencontre, sans pour autant perdre de vue l’ambition collective
            (par exemple la commission charte devait arriver à des résultats avant la prochaine AG,
            ce qui conditionnât son rythme propre). Chaque commission doit donc pouvoir gérer seule son calendrier.
            Si des actions d’ordre collectif sont nécessaires au bon déroulé des objectifs qu’elle se fixe,
            la proposition concrète est soumise au CA, et c’est à ce moment que seront visibles les énergies
            disponibles pour faire avancer les choses ou non.
        </p>

        <img style="margin-left: 30%" class="mt-2 mb-2" src=https://1.bp.blogspot.com/-MVrIRtma9vI/XymFDcxYZaI/AAAAAAAAAEw/N9q465y9RvA3cHYCLWq5wuUlwtqj0PlXwCLcBGAsYHQ/s0/pilotage%2Basso.png"" alt="représentation du pilotage de l'association hors AG">


    </div>
    {% endblock %}