{% extends 'base.html.twig' %}


{% block body %}

    {{ include('home/_menu.html.twig') }}

    <div>Il y a actuellement {{ user }} utilisateurs enregistrés sur l'application </div>
    <div> Il y a </div>

{% endblock %}